<!-- Post List Template -->
<div class="posts-list fade-in">
  <% data.posts.forEach(function(post) { %>
    <% if(!post.draft) { %>
      <article class="post">
        <h1 class="post-title">
          <a href="<%= post.permalink %>"><%= post.title %></a>
        </h1>
        <time class="post-date">5/28/2015</time>
        <div class="post-content">
          <% if(post.excerpt) { %>
            <p><%= post.excerpt %></p>
          <% } %>
        </div>
      </article>
    <% } %>
  <% }) %>
</div>